/* PROFILE BUTTON STYLING */

#profile-button {
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 100px;
  background-color: white;
  border: 0.5px solid #c8c8c8;
  display: flex;
  gap: 5px;
  transition-property: box-shadow;
  transition-duration: 0.1s;
}

#profile-button:hover {
  box-shadow: 0 0.5px 3px 0.2px #b9b9b9;
}

#session-links {
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1.5px 4px #999;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  top: 6rem;
  right: 2rem;
}

/* NAVBAR PROFILE BUTTON STYLING */
.profile-button-link {
  align-items: center;
  background-color: white;
  display: flex;
  border: none;
  color: black;
  cursor: pointer;
  height: 25px;
  padding-left: 10px;
  text-align: start;
  text-decoration: none;
  width: 200px;
}

.profile-button-link:hover {
  background-color: #dcdcdc;
}
