#successful-posting {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14rem;
  gap: 50px;
}

.successful-posting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.successful-posting-container-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: rgb(179, 224, 179);
  border: 3px solid rgb(0, 90, 0);
  border-radius: 100px;
}

.fa-check {
  color: rgb(0, 90, 0);
}

.successful-posting-header {
  color: rgb(0, 90, 0);
  font-size: 14px;
}

.successful-posting-info {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  padding: 25px;
  border: 1px solid #c8c8c8;
  box-shadow: 0 0.5px 3px 0.2px #dcdcdc;
  border-radius: 15px;
  height: fit-content;
}

.successful-posting-image {
  width: 175px;
  height: 125px;
  object-fit: cover;
  border-radius: 5px;
}

.successful-posting-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.successful-posting-info-bold {
  font-weight: 600;
}

#successful-posting-home-button {
  font-size: 15px;
  color: white;
  cursor: pointer;
  height: 40px;
  width: 425px;
  border-radius: 10px;
  border: none;
  background-color: rgb(255, 21, 99);
}

@media (max-width: 768px) {
  .successful-posting-info {
    align-items: flex-start;
  }

  .successful-posting-info-container {
    margin-top: 0;
  }
}

@media (max-width: 425px) {
  .successful-posting-container {
    width: 28rem;
  }

  #successful-posting {
    margin-top: 10rem;
  }

  .successful-posting-container-header {
    border: 2px solid rgb(0, 90, 0);
    gap: 1rem;
    padding: 0.8rem;
  }

  .successful-posting-header {
    font-size: 1rem;
  }

  .successful-posting-info {
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    height: fit-content;
    justify-content: center;
    width: 28rem;
  }

  .successful-posting-info-container {
    margin-top: 0.2rem;
  }

  .successful-posting-image {
    width: 100%;
    height: auto;
  }

  #successful-posting-home-button {
    width: 28rem;
  }
}
