#create-booking-card-container {
  display: flex;
  justify-content: center;
  position: static;
}

#create-booking-card {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 10px 0 10px 0;
  width: 30rem;
  height: fit-content;
  border-radius: 20px;
  box-shadow: 0.5px 0.5px 2.3px 1px #999;
  padding: 25px 20px;
  position: sticky;
  top: 10rem;
}

#booking-card-spot-details {
  display: flex;
  justify-content: space-between;
}

#booking-card-price-container,
#booking-card-price {
  font-size: 19px;
}

#booking-card-avg-star-rating {
  font-weight: 600;
}

#booking-card-num-reviews {
  color: #777;
  text-decoration: underline;
}

#booking-rating-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

#booking-card-avg-star-rating-container {
  display: flex;
  align-items: center;
  gap: 3px;
}

#booking-card-dates-form-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
}

#booking-card-dates-button {
  display: flex;
  position: relative;
  border-radius: 10px;
  justify-content: space-evenly;
  gap: 10px;
  padding: 10px;
  background-color: white;
  border: 1px solid #999;
}

#booking-card-dates-button:focus {
  border: 1px solid black;
  border-style: inset;
}

#booking-dates-divider {
  height: 35px;
  width: 1px;
  background-color: #999;
}

.booking-check-date {
  display: flex;
  flex-direction: column;
  gap: 3px;
  text-align: start;
}

.booking-check-date-name {
  font-size: 10px;
  font-weight: 600;
}

.booking-check-date-input {
  border: none;
}

#reserve-button {
  font-size: 15px;
  color: white;
  cursor: pointer;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: rgb(255, 21, 99);
}

@media (max-width: 768px) {
  #create-booking-card {
    width: 25rem;
  }
  #booking-card-dates-button {
    padding: 0.8rem;
    width: 100%;
  }

  .booking-check-date-input {
    font-size: 1rem;
  }
}
