#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal-content-login {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  height: 24rem;
  width: 50rem;
}

#modal-content-signup {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  height: 36rem;
  width: 50rem;
}

#modal-content-delete-booking {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  height: 300px;
  width: 500px;
}

#modal-content-edit-booking {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  height: 200px;
  width: 375px;
  display: flex;
}

#modal-content-delete-spot {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  height: 300px;
  width: 500px;
  display: flex;
}

#modal-content-edit-spot {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  height: 600px;
  width: 800px;
  display: flex;
}

@media (max-width: 425px) {
  #modal-content-login {
    height: 23rem;
    width: 30rem;
  }

  #modal-content-signup {
    height: 34rem;
    width: 30rem;
  }

  #modal-content-edit-booking,
  #modal-content-delete-booking,
  #modal-content-delete-spot {
    width: 30rem;
  }
}
