#all-spots-preview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 1.5vw;
  font-size: 14px;
  margin-top: 35px;
}

.spot-preview {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 5px;
  text-decoration: none;
  color: black;
}

.spot-img {
  object-fit: cover;
  width: 21vw;
  height: 35vh;
  border-radius: 20px;
  transition-duration: 0.2s;
}

.spot-img:hover {
  box-shadow: 0.5px 0.5px 4px 1px #999;
}
.spot-details-container {
  margin-left: 5px;
}

.spot-name {
  color: #777;
}
