.user-bookings-section {
  display: flex;
  width: 100%;
}

.user-bookings-list {
  width: 100%;
}

#no-bookings-available {
  align-self: center;
  font-size: 33px;
  color: #999;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 425px) {
  #no-bookings-available {
    font-size: 2rem;
  }
}
