#edit-spot-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

#edit-spot-header {
  align-self: flex-start;
  font-weight: 600;
  font-size: 18px;
  grid-area: a;
}

#edit-spot-form {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "a a";
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.edit-spot-input-field-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.edit-spot-input-field-label {
  font-weight: 600;
}

.edit-spot-form-input {
  width: 100%;
  height: 30px;
  border: 1px solid #999;
  border-radius: 5px;
}

#edit-spot-form-button {
  font-size: 15px;
  color: white;
  border-radius: 10px;
  border: none;
  background-color: rgb(255, 21, 99);
  height: 10%;
  width: 100%;
}
