#account-details {
  display: flex;
  height: 100vh;
}

.account-details-divider {
  background-color: #c8c8c8;
  width: 1px;
}

#account-details-sidebar {
  display: flex;
  flex-direction: column;
  width: 24vw;
  gap: 25px;
  top: 13.6%;
  position: sticky;
  background-color: white;
}

#account-details-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 33px;
}

#account-sidebar-header {
  font-size: 20px;
}

.account-sidebar-sub-header {
  font-size: 15px;
}

.account-detail-links {
  display: flex;
  flex-direction: column;
}

.account-detail-link {
  color: black;
  font-size: 18px;
  text-decoration: none;
  padding: 25px;
  border-left: 8px solid transparent;
}

.account-detail-link:hover {
  background-color: rgb(241, 241, 241);
  border-left: 8px solid #ff385c;
}

.account-detail-link-active {
  color: black;
  font-size: 18px;
  text-decoration: none;
  padding: 25px;
  border-left: 8px solid transparent;
  background-color: rgb(241, 241, 241);
  border-left: 8px solid #ff385c;
}

#account-details-content-container {
  width: 76vw;
  background-color: #dcdcdc;
  overflow: auto;
}
