.spot-review-container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.spot-review-header-container {
  align-items: center;
  display: flex;
  gap: 1rem;
  position: relative;
}

.spot-review-user {
  font-size: 1.2rem;
}

.spot-review-options-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.spot-review-options {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0.5px 3px 0.2px #dcdcdc;
  display: flex;
  flex-direction: column;
  left: 6.8rem;
  height: auto;
  justify-content: center;
  width: auto;
  position: absolute;
  top: 2.4rem;
  z-index: 1;
}

.spot-review-stars {
  align-items: center;
  display: flex;
  font-weight: bold;
  gap: 0.4rem;
}

.spot-review-images-container {
  display: flex;
  gap: 1rem;
  height: 18rem;
  overflow-y: hidden;
  overflow-x: scroll;
  width: 100%;
}

.spot-review-images-image {
  height: 100%;
}
