/* GENERAL STYLING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px;
}

input:focus {
  outline: none;
}

/* MARGIN FOR CERTAIN COMPONENTS */
.body-margin {
  margin: 0px 75px 0px 75px;
}

/* FORM ERROR STYLING */
.errors {
  color: red !important;
  font-size: 13px;
  list-style: none;
}

.error {
  display: flex;
  gap: 5px;
  align-items: center;
}
