/* GENERAL STYLING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px;
  /* overflow-x: hidden; */
}

html {
  font-size: 62.5%;
}

input:focus {
  outline: none;
}

#airbnb-app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

/* FORM ERROR STYLING */
.errors {
  color: red !important;
  font-size: 13px;
  list-style: none;
}

.error {
  display: flex;
  gap: 5px;
  align-items: center;
}
