#user-spots-item {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 20px;
  padding: 5px 0 5px 0;
  border-bottom: 1px solid rgb(200, 200, 200);
  align-items: center;
}

#user-spots-item-img-container {
  width: 25vw;
  height: 30vh;
}

#user-spots-item-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#user-spots-details {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}

#user-spot-details {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 150px;
}

#user-spot-name {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
}

.user-spot-address {
  font-size: 16px;
}

.user-spot-check-bold {
  font-weight: bold;
  font-size: 16px;
}

.user-spot-detail-check-date {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.user-spot-edit-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.spot-edit-container-button {
  border: none;
  background-color: #dcdcdc;
}

.spot-button {
  color: #4a4a4a;
  cursor: pointer;
}

.spot-button:hover {
  color: black;
}

@media (max-width: 768px) {
  #user-spot-name {
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
  }

  .user-spot-address {
    font-size: 1.2rem;
  }

  .user-spot-check-bold {
    font-size: 1.6rem;
  }

  .user-spot-check-light {
    font-size: 1.2rem;
  }

  .user-spot-edit-container {
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
  }

  .spot-button {
    font-size: 2rem;
  }
}

@media (max-width: 425px) {
  #user-spots-item {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
  }

  #user-spots-details {
    flex-direction: column;
    width: 50%;
  }

  #user-spots-item-img-container {
    width: 50%;
    height: 18rem;
  }

  #user-spot-name {
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
  }

  .user-spot-address {
    font-size: 1.2rem;
  }

  .user-spot-check-bold {
    font-size: 1.4rem;
  }

  .user-spot-check-light {
    font-size: 1.2rem;
  }

  .user-spot-edit-container {
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
  }

  .spot-button {
    font-size: 2rem;
  }
}
