#create-spot-container {
  display: flex;
  height: 100vh;
}

#create-spot-left-side-container {
  width: 50%;
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(195, 34, 174, 1) 0%,
    rgba(198, 43, 43, 1) 100%,
    rgba(181, 74, 118, 0.5396752450980392) 100%,
    rgba(150, 56, 202, 1) 100%,
    rgba(60, 146, 203, 1) 100%,
    rgba(70, 128, 207, 1) 100%,
    rgba(75, 119, 209, 1) 100%,
    rgba(83, 105, 212, 1) 100%,
    rgba(193, 90, 214, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

#create-spot-left-side-container-text {
  font-size: 40px;
  color: white;
  font-weight: 600;
  padding: 1rem;
}

#create-spot-right-side-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50%;
  padding: 20px;
}

#create-spot-back-to-home-button {
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 11px;
  color: black;
  height: 27px;
  width: 90px;
  border-radius: 100px;
  border: none;
  background-color: rgb(220, 220, 220);
}

#create-spot-back-to-home-button:hover {
  background-color: rgb(235, 235, 235);
}

#create-spot-right-side-form-container {
  width: fit-content;
}

.create-spot-form-step-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  width: 50rem;
}

.create-spot-form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 100%;
}

.create-spot-form-input {
  padding: 0.6rem;
  border: none;
  border-bottom: 0.1rem solid rgb(180, 180, 180);
}

.create-spot-form-input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.create-spot-form-error-container {
  align-items: center;
  display: flex;
  gap: 0.4rem;
  padding-top: 0.2rem;
}

.create-spot-form-error-text {
  color: red;
  font-size: 1rem;
}

.create-spot-form-error-icon {
  color: red;
  font-size: 1rem;
}

.create-spot-form-next-button {
  background-color: rgb(255, 21, 99);
  border: none;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem 2rem;
  width: 100%;
}

.create-spot-form-step-back-button {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

.create-spot-form-step-back-button:hover {
  border-bottom: 1px solid rgb(255, 21, 99);
}

@media (max-width: 1024px) {
  .create-spot-form-step-section {
    width: 40rem;
  }
}

@media (max-width: 768px) {
  #create-spot-left-side-container-text {
    font-size: 3rem;
  }

  .create-spot-form-step-section {
    width: 30rem;
  }
}

@media (max-width: 425px) {
  #create-spot-container {
    flex-direction: column;
  }

  #create-spot-left-side-container {
    height: fit-content;
    padding: 5rem 4.2rem;
    text-align: center;
    width: 100%;
  }

  #create-spot-left-side-container-text {
    font-size: 3rem;
  }

  #create-spot-right-side-container {
    flex-grow: 1;
    height: fit-content;
    padding: 1.2rem;
    width: 100%;
  }

  .create-spot-form-step-section {
    width: 30rem;
  }
}
