/* GENERAL STYLING */
#navigation-container {
  background-color: white;
  border-bottom: 0.5px solid #c8c8c8;
  box-shadow: 0 0.5px 3px 0.2px #dcdcdc;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}

#navigation-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* HOMEPAGE LINK STYLING */
#homepage-link {
  align-items: center;
  display: flex;
  gap: 5px;
  text-decoration: none;
}

.fa-airbnb,
#homepage-link-name {
  color: #ff385c;
}

#homepage-link-name {
  font-size: 22px;
  font-weight: 500;
}

/* SEARCH BAR STYLING */
#search-bar {
  align-items: center;
  background-color: white;
  border: 0.5px solid #c8c8c8;
  border-radius: 50px;
  display: flex;
  gap: 30px;
  padding: 8px 25px;
  box-shadow: 0 0.5px 3px 0.2px #dcdcdc;
  transition-duration: 0.5s;
  display: none;
}

#search-bar:hover {
  box-shadow: 0 0.5px 3px 0.2px #b9b9b9;
}

.search-bar-divider {
  background-color: #c8c8c8;
  height: 24px;
  width: 1px;
}

.search-bar-light-text {
  color: #b9b9b9;
}

.fa-magnifying-glass {
  color: white;
  background-color: #ff385c;
  padding: 10px;
  border-radius: 100px;
  position: relative;
  right: -15px;
}

/* USER OPTIONS */
#user-options {
  display: flex;
  align-items: center;
  gap: 5px;
}

#host-link {
  text-decoration: none;
  padding: 10px;
  color: black;
}

#host-link:hover {
  background-color: #dcdcdc;
  border-radius: 70px;
}

.fa-globe {
  display: flex;
  padding: 10px;
  justify-content: center;
  display: none;
}

.fa-globe:hover {
  background-color: #dcdcdc;
  border-radius: 70px;
  display: none;
}

@media (max-width: 425px) {
  #navigation-container {
    padding: 1.4rem;
  }

  #homepage-link-name {
    display: none;
  }
}
