* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-form-box {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
