.create-booking-login-button {
  font-size: 15px;
  color: white;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: rgb(255, 21, 99);
}

#not-logged-in-host-link {
  text-decoration: none;
  padding: 10px;
  color: black;
  cursor: pointer;
  background-color: white;
  border: none;
}

#not-logged-in-host-link:hover {
  background-color: #dcdcdc;
  border-radius: 70px;
}
